alias config='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias emacs='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient --create-frame --alternate-editor=""'
alias emacsclient='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient'
