[core]
	excludesfile = /Users/rlb/.gitignore
[user]
	name = Randall Bosetti
	email = rbosetti@gmail.com
	signingkey = /Users/rlb/.ssh/id_ed25519.pub
[credential]
	helper = osxkeychain
[alias]
	st = status
	s = status
	co = checkout
[gpg]
	format = ssh
